body {
  max-width: 900px;
  margin: 0 auto;
}

button {
  font-family: 'Special Elite', cursive;
  font-size: 14px;
  background-color: tomato;
  border: 2px solid tomato;
  font-weight: bold;
  font-colour: grey;
  padding: 5px;
  margin 3px;
  width: 33%;
}

h1 img{
  width: 100%;
}

section {
  display: flex;
  border: 5px solid black;
  background-color: grey;
}

div {
  align-items: center;
  justify-content: center;
}

.cctv, .mugshot {
  flex-wrap: wrap;
  width: 33.3%;
  margin: 10px;
  border: 20px solid;
}

.mugshot {
  border-color: white;
}

.cctv {
  border-color: black;
}

.cctv img, .mugshot img {
  max-width: 275px;
  padding: -2px;
  margin: -2px;
  background: grey;
  align-items: center;
  justify-content: center;
}

#cellbars {
  position: absolute;
  /*transition-duration: 3s;*/
  background: inherit;
  /*animation: slide 10s down;
  -webkit-animation: slide 10s down;*/
  /*-webkit-animation-delay: 2s;*/*/
  /*animation-delay: 2s;*/
  /*slide animation isnt working*/
}

/*@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}
}*/

.selectors {
  flex-wrap: wrap;
  width: 33.3%;
  border-left: 5px black solid;
  justify-content: center;
}

form {
  width: 100%;
  display: flex;
  align-items: center;
}

.selectors img {
  width: 50px;
  height: 50px;
  padding: 3px;
  margin: 15px 5px 5px 5px;
  flex-wrap: wrap;
  align-items: left;
}

select {
  width: 70%;
  align-content: space-between;
  align-items: right;
  padding: 10px 10px;
  margin: 35px 0;
}

button.submit  {
  width: 100%;
}

.instructions {
  font-family: 'Special Elite', cursive;
  font-size: 13px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-color: grey;
  border: thick black solid;
}

h2 {
  font-family: 'Abril Fatface', cursive;
  background: dodgerblue;
  border-radius: 3%;
  color: white;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  text-transform: uppercase;
}

p {
  padding: 25px;
  text-align: justify;
  background: white;
  border-radius: 3%;
}

br {
  height: 20em;
}
